.banner-link {
	color: white;
}

.banner-link:hover {
	color: black;
}

.dl-link {
	color: black;
}

.dl-link:hover {
	color: white;
}

.navbar-item:hover, .navbar-item:hover a {
	color: white !important;
	background-color: #8BC34A;
}

a {
	outline: 0;
	color: black;
}
